<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.situ.mall.dao.ProductTypeMapper">
 <sql id="studentColums">
  t.update_time,t.create_time,t.status,t.name tname,T1.id T1d,T1.name
		Tname1, t.id tid1, t.parent_id from category AS t left JOIN category AS T1 on
		t.parent_id=T1.id  
 </sql>

	<resultMap type="ProductType" id="producttypeInfo">
		 <id property="id" column="tid1" />
		 <id property="parent_id" column="parent_id" />
		 <result property="name" column="tname" />
		 <result property="status" column="status" />
		 <result property="create_time" column="create_time" />
		 <result property="update_time" column="update_time" />
			<association javaType="ProductType" property="productType">
				<result property="id" column="T1d" />
				<result property="name" column="Tname1" />
			</association>
	</resultMap>
	
	<select id="seleteBycondition" resultMap="producttypeInfo" parameterType="map">
		SELECT <include refid="studentColums"/>
		<where>
		  <if test="name!=null and !&quot;&quot;.equals(name.trim())">
		   and  t.name like '%${name}%'
		  </if>
		</where>  
		limit #{pageIndex},#{pageSize}
	</select>	
	
	
	
	<select id="seleteAllfather" resultMap="producttypeInfo">
		SELECT <include refid="studentColums"/>  where t.parent_id=0
	</select>
	
	<select id="seleteAll" resultMap="producttypeInfo">
		SELECT <include refid="studentColums"/> 
	</select>
	
	<select id="seleteAllson" resultMap="producttypeInfo">
		SELECT <include refid="studentColums"/> WHERE t.parent_id!=0
	</select>

 
	<select id="seleteByparent" resultMap="producttypeInfo" parameterType="integer">
		SELECT <include refid="studentColums"/> WHERE t.parent_id=#{id}
	</select>
 
 
   
	<select id="getTotalCount1" resultType="integer" parameterType="map">
		select count(*)
	FROM category AS t INNER JOIN category AS T1 on t.parent_id=T1.id where t.name like "#${name}%"
	</select>

	
	
	<select id="getTotalCount" resultType="integer">
		select count(*)
		FROM category AS t INNER JOIN category AS T1 on t.parent_id=T1.id
	</select>
	
	
	<select id="pagelist" resultMap="producttypeInfo" parameterType="map">
		SELECT <include refid="studentColums"/> limit #{pageindex},#{pageSize}
	</select>


	<select id="selectByName" resultType="producttype"
		parameterType="string">
		select * from category where producttype.name=#{name}
	</select>


	<insert id="insert" parameterType="producttype">
		insert  category(id,name,parent_id,status,create_time,update_time) values (#{id},#{name},#{parent_id},#{status},now(),now())
	</insert>


	<select id="getById"  resultMap="producttypeInfo" parameterType="Integer">
		select  <include refid="studentColums"/> where t.id=#{id}
	</select>

	<update id="update" parameterType="producttype">
		update category
		<set>
		   <if test="name!=null and !&quot;&quot;.equals(name.trim())">
		      name=#{name},
		   </if>
		   <if test=" update_time==null">
             update_time=now(),		  
		  </if>
		   <if test="parent_id!=null">
				parent_id=#{parent_id} 
		   </if>
		</set>
		where id=#{id}
	</update>


	<delete id="deleteAll">
		delete from category
		<where>
			id in
			<foreach collection="array" item="id" separator="," open="("
				close=")">
				#{id}
			</foreach>
		</where>
	</delete>
	
	<delete id="delete" parameterType="int">
		delete from category where id=#{id}
	</delete>

	
	

</mapper>